################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter 6/.vs/FunctionsChapter6
/Chapter 6/FunctionsChapter6/bin
/Chapter 6/FunctionsChapter6/obj
/Chapter 7/DurableFunctionsChapter7/bin
/Chapter 7/DurableFunctionsChapter7/obj
/Chapter 7/.vs
/Chapter 10/.vs
/Chapter 10/AuthAndAuthChapter10/bin
/Chapter 10/AuthAndAuthChapter10/obj
/Chapter 10/ClientApp/obj
/Chapter 10/ClientApp/bin
