################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter06/.vs
/Chapter06/FunctionsChapter06/bin
/Chapter06/FunctionsChapter06/obj
/Chapter07/DurableFunctionsChapter07/bin
/Chapter07/DurableFunctionsChapter07/obj
/Chapter07/.vs
/Chapter09/.vs
/Chapter09/AuthAndAuthChapter09/bin
/Chapter09/AuthAndAuthChapter09/obj
/Chapter09/ClientApp/obj
/Chapter09/ClientApp/bin
